@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!-- Three buttons -->
    <a class="btn btn-primary" href="/Talepler/TalepListesi">Talep Listesi</a>
    <a class="btn btn-success" href="/Talepler/Create">Talep Ekle</a>
</div>